{
  "presets": ["babel-preset-expo", "react-native"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
    "plugins": [
      ["babel-plugin-rewrite-require", {
        "aliases": {
          "crypto": "react-native-crypto",
          "tls": "react-native-tls"
        }
      }]
    ]
}
